* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.devil {
  animation: devilAnimation 0.7s ease forwards;
  object-fit: cover;
  z-index: 0;
  border-radius: 0.5rem;

}
a{
  text-decoration: none;
}
.assassin {
  animation: assassinAnimation 0.7s ease forwards;
  object-fit: cover;
  z-index: 0;
  border-radius: 0.5rem;
}

@keyframes transform {
  0% {
    transform: translate(-60%, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes assassinAnimation {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes devilAnimation {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.beforeTitle {
  position: relative;
  padding-right: 33px;
}

.beforeTitle::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  top: 15px;
  right: 0;
  background-color: #af7ce2;
}

.swiper-pagination {
  position: relative;
  top: 360px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #af7ce2 !important;
}

.swiper-pagination-bullet-active {
  background-color: #af7ce2 !important;

}

.swiper-pagination-bullet {
  border: 2px solid #af7ce2;
  padding: 3px !important;
}

